<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.efrobot.library">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="true" android:label="@string/app_name">
        <activity android:name="com.efrobot.library.VideoActivity">
        </activity>
    </application>

</manifest>
